h1{
  color: maroon;
  text-align: center;
  background-image:url(images/elephant.jpg);
  
}
.sidebar{
  border: dotted red;
  padding-left: 40px;
  padding-right: 160px;
  background-color: aquamarine;
  border-radius: 20px;
}

.intro1{
  text-align: left;
  border: solid red;
  border-radius: 20px;
  background-color: aquamarine;
}

.intro2{
  text-align: right;
  border: solid yellowgreen;
  float: right;
  border-radius: 20px;
}
.images{
  float: right;
}

h3{
  font-size: x-large;
}
.texts{
  float: right;
  font-size: 20px;
}