h1{
  color: maroon;
  text-align: center;

  
}
.sidebar{
  border: dotted red;
  padding-left: 40px;
  padding-right: 160px;
  background-color: aquamarine;
  border-radius: 20px;
  text-align: center;
}

.intro1{
  text-align: left;
  border: solid yellowgreen;
  border-radius: 20px;
  float:left;
  width:49%;
}

.intro2{
  border: solid yellowgreen;
  float: right;
  border-radius: 20px;
  width:49%;

}
.images{
  float: right;
}

h3{
  font-size: larger;
}
.texts{
  float: right;
  font-size: 20px;
}
.body{
  font-size: larger
}